body{
    padding: 0;
    margin: 0;
    font-family: Arial;
}
.registerAuto{
    margin: 65px auto;
    width: 740px;
    display: block;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 25px 40px;
}
.registerAuto input[name="cnumber"], .registerAuto input[name="fname"]{
    display: block;
    width: 80%;
    margin: 15px auto;
    box-sizing: border-box;
    font-size: 24px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid black;
}
.registerAuto input[type=submit] {
    display: block;
    width: 250px;
    text-align: center;
    color: white;
    background: #424242;
    padding: 10px 25px;
    border: none;
    box-shadow: 6px 5px 11px 0 rgba(0,0,0,0.4);
    transition: 0.3s ease;
    margin: 25px auto;
}
.registerAuto input[type=submit]:active{
    box-shadow: none;
    transition: 0.3s ease;
}
.questionTrailer{
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #eb4444;
    padding: 10px 0;
}
.trailer{
    display: block;
    margin: 5px 0;
    border: 1px solid #eb4444;
    box-sizing: border-box;
    overflow: hidden;
    height: 0;
    transition: 1s ease;
}
.active{
    height: 50px;
}

.trailer input[name="tnumber"]{
    display: block;
    width: 70%;
    margin: 7.5px auto;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid black;
}
.passengers{
    box-shadow: 2px 1px 11px 1px rgba(0,0,0,0.4);
    width: 500px;
    margin: 10px auto;
    box-sizing: border-box;
    padding: 5px 10px;
}
.passengers h2  {
    padding: 0;
    margin: 10px 0;
    display: block;
    font-size: 24px;
    text-align: left;
    color: white;
    background: #424242;
    box-sizing: border-box;
    position: relative;
    height: 40px;
    line-height: 30px;
}
.passengers h2 #addPassenger{
    background: #eb4444;
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    display: block;
    margin: 5px auto;
    color: white;
    font-weight: bold;
    position: absolute;
    top: -5px;
    right: 0;
    opacity: 0.6;
    transition: 0.4s ease;
    cursor: default;
}
.passengers h2 #addPassenger:hover{
    opacity: 1;
    transition: 0.4s ease;
}
.passengers h2 #addPassenger:active{
    opacity: 1;
    box-shadow: inset 0 0 11px 2px #03a9f4;
    transition: 0.1s ease;
}
.newPassenger{
    margin: 10px auto;
    position: relative;
}
.newPassenger input{
    width: 100%;
    height: 45px;
    display: block;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 50px;
    border: 1px solid #424242;
    font-size: 22px;
}
.newPassenger .deletePassenger{
    cursor: default;
    position: absolute;
    right: 0;
    top: 0;
    height: 45px;
    width: 45px;
    background: #eb4444;
    color: white;
    font-size: 32px;
    text-align: center;
    line-height: 40px;
    transition: 0.5s ease;
}
.newPassenger .deletePassenger:hover{
    font-size: 32px;
    transition: 0.5s ease;
    box-shadow: 2px 3px 2px 0 rgba(0,0,0,0.4);
    right: 5px;
    top: -5px;
}
.error{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 50px;
    background: #eb4444;
    color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    line-height: 40px;
}